@charset "utf-8";

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "icons";
    src:url("fonts/icons.eot");
    src:url("fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons.woff") format("woff"),
    url("fonts/icons.ttf") format("truetype"),
    url("fonts/icons.svg#conacyt") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "descarga-mapas1";
    src:url("../../assets/fonts/descarga-mapas1.eot");
    src:url("../../assets/fonts/descarga-mapas1.eot?#iefix") format("embedded-opentype"),
      url("../../assets/fonts/descarga-mapas1.woff") format("woff"),
      url("../../assets/fonts/descarga-mapas1.ttf") format("truetype"),
      url("../../assets/fonts/descarga-mapas1.svg#descarga-mapas1") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    //speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
    content: "\65";
}


[class^="dai-icon-"]:before,
[class*=" dai-icon-"]:before {
  font-family: "descarga-mapas1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  //speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dai-icon-download{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -5px;
}
.dai-icon-download:before {
  content: "\61";
  font-size: 1.2rem;
  
}

.map-zoom-all-control{
    right: .5rem;
    bottom: calc(.5rem + 62px);
    font-size: 10px;
    //border-radius: 15px 15px 0 0;
    //button{
        //border-radius: 15px 15px 0 0;
    //}
}

.ol-zoom{
    top: auto;
    left: auto;
    bottom: .5rem;
    right: .5rem;
    //border-radius: 0 0 15px 15px;
    //button.ol-zoom-out{
    //    border-radius: 0 0 15px 15px;
    //}
    button.ol-zoom-in{
        border-radius: 0 ;
    }
    z-index: 2;
}
.ol-control{
    padding: 0px;
    //border-radius: 0;
}




.ol-attribution{
    font-size: .8rem;
}

